<div class="second-page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>Frequently Asked Questions</h4>
        <h2>Have a Question?</h2>
        <p>Find answers to commonly asked questions below. If you don't see what you're looking for, feel free to contact us.</p>
        <div class="main-button"><a href="https://www.tokopedia.com/tenunikatpalugada?utm_campaign=Shop-243097347-17598437-110624-contextual_image-semua_produk-LSfHao&utm_source=salinlink&utm_medium=share&_branch_match_id=1329437722276540004&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXL8nPzi9ITclM1MvJzMvW93ALyDXJMCnM8U4CAHb%2F66oiAAAA">Contact Us</a></div>
      </div>
    </div>
  </div>
</div><br><br><br><br><br>

<div class="more-info ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="info-item">
          <i class="fa fa-question-circle"></i>
          <h4>What services do you offer?</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="info-item">
          <i class="fa fa-question-circle"></i>
          <h4>How can I contact customer support?</h4>
          <p>You can reach our customer support team at +123 456 789 or via email at company@email.com.</p>
        </div>
        <div class="info-item">
          <i class="fa fa-question-circle"></i>
          <h4>Where are you located?</h4>
          <p>Our office is located at 24th Street North Avenue, London, UK.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="call-to-action">
  <!-- Konten call-to-action -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2>Apakah Anda ingin mengunjunginya ?</h2>
        <h4>Buat penampilan mu menarik dengan mengajukan penawaran</h4>
      </div>
      <div class="col-lg-4">
        <div class="border-button">
          <a href="/shop">Belanja Sekarang</a>
        </div>
      </div>
    </div>
  </div>
</div>