<div class="amazing-deals">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading text-center">
          <h2>FAQ</h2>
        </div>
      </div>
      <div class="more-info ">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="info-item">
                <i class="fa fa-question-circle"></i>
                <h4 style="color: black;">Apa itu Kampung Wisata Tenun Ikat Bandar Kidul?</h4>
                <p>Kampung Wisata Tenun Ikat Bandar Kidul adalah sebuah destinasi wisata yang terkenal dengan kerajinan tenun ikat tradisional. Di sini, pengunjung dapat melihat proses pembuatan tenun ikat secara langsung dan membeli produk-produk tenun ikat asli.</p>
              </div>
              <div class="info-item">
                <i class="fa fa-question-circle"></i>
                <h4 style="color: black;">Di mana lokasi Kampung Wisata Tenun Ikat Bandar Kidul?</h4>
                <p>Kampung Wisata Tenun Ikat Bandar Kidul terletak di Bandar Kidul, Kota Kediri, Jawa Timur, Indonesia.</p>
              </div>
              <div class="info-item">
                <i class="fa fa-question-circle"></i>
                <h4 style="color: black;">Apa saja kegiatan yang bisa dilakukan di Kampung Wisata Tenun Ikat Bandar Kidul?</h4>
                <p>Pengunjung dapat melihat proses pembuatan tenun ikat, belajar menenun, berbelanja produk tenun ikat, dan menikmati keindahan kampung yang asri.</p>
              </div>
              <div class="info-item">
                <i class="fa fa-question-circle"></i>
                <h4 style="color: black;">Apakah ada biaya masuk ke Kampung Wisata Tenun Ikat Bandar Kidul?</h4>
                <p>Tidak ada biaya masuk untuk mengunjungi Kampung Wisata Tenun Ikat Bandar Kidul. Namun, ada biaya jika ingin mengikuti workshop atau membeli produk.</p>
              </div>
              <div class="info-item">
                <i class="fa fa-question-circle"></i>
                <h4 style="color: black;">Kapan waktu terbaik untuk mengunjungi Kampung Wisata Tenun Ikat Bandar Kidul?</h4>
                <p>Kampung Wisata Tenun Ikat Bandar Kidul dapat dikunjungi sepanjang tahun, tetapi waktu terbaik adalah pada pagi hari atau sore hari agar tidak terlalu panas.</p>
              </div>
              <div class="info-item">
                <i class="fa fa-question-circle"></i>
                <h4 style="color: black;">Bagaimana cara menuju Kampung Wisata Tenun Ikat Bandar Kidul?</h4>
                <p>Pengunjung dapat menggunakan kendaraan pribadi atau transportasi umum dari pusat kota Kediri. Lokasinya mudah dijangkau dan terdapat petunjuk arah yang jelas.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="call-to-action">
  <!-- Konten call-to-action -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2>Apakah Anda ingin mengunjunginya ?</h2>
        <h4>Buat penampilan mu menarik dengan mengajukan penawaran</h4>
      </div>
      <div class="col-lg-4">
        <div class="border-button">
          <a href="/shop">Belanja Sekarang</a>
        </div>
      </div>
    </div>
  </div>
</div>