<div class="amazing-deals">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading text-center">
          <h2>GALLERY</h2>
        </div>
      </div>
      <div class="row">
        {{#each gallery}}
        <!-- Item 1 -->
        <div class="col-md-4">
          <div class="gallery-item" style="margin-bottom: 20px;">
            <img src="./assets/images/{{this.dataValues.image}}" alt="" class="gallery-image">
            <div class="overlay"></div>
            <div class="text">
              <h4>{{this.dataValues.title}}</h4>
              <p>{{this.dataValues.descriptionid}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2>Apakah Anda ingin mengunjungi Desa Tenun?</h2>
        <h4>Buat penampilanmu menarik dengan mengajukan penawaran</h4>
      </div>
      <div class="col-lg-4">
        <div class="border-button">
          <a href="/shop">Belanja Sekarang</a>
        </div>
      </div>
    </div>
  </div>
</div>
