<div class="amazing-deals">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading text-center">
                    <h2>SEJARAH</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/1.png" width="100%" height="250px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg 6 align-self-center">
                        <h2>SENTRA KERAJINAN TENUN IKAT BANDAR KIDUL KEDIRI</h2>
                        <p style="color: dimgrey">Kerajinan tenun ikat di desa Bandar Kidul Kediri ini merupakan tenun ikat yang pembuatannya masih menggunakan alat manual. Banyak pembuatan tenun ikat di zaman sekarang yang menggunakan mesin pabrik. Tempat pembuatan Tenun Ikat ini terletak di jalan KH. Agus Salim Kelurahan Bandar Kidul Kec Mojoroto Kediri. Di desa ini merupakan sentra pembuat tenun ikat yang pembuatannya masih memakai konsep manual.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 12">
                        <p style="color: dimgrey">Keberadaan tenun ikat Bandar Kidul Kediri memang kurang dikenal oleh publik. Setelah berbicara kepada pembuat tenun ikat yang bernama Siti, beliau mengatakan bahwa makna atau filosofi asli di balik tenun ikat Bandar Kidul Kediri sebenarnya juga sudah hilang. Ibu Siti yang membuatnya pun mengatakan hanya sekedar membuat dan menerima pesanan saja, tanpa mengetahui makna atau filosofi di baliknya. Filosofi yang ada sekarang hanya merupakan perkiraan dari beberapa sumber. Karena kurang dikenal oleh warga Kediri sendiri, maka otomatis jumlah orang yang menekuni usaha ini juga sangat sedikit. Ibu Siti, seorang pengrajin tenun ikat Bandar Kidul Kediri mengatakan bahwa sekarang saja sudah sangat sulit mencari karyawan yang bersedia membuat tenun ikat, apalagi untuk langkah ke depannya. Dikhawatirkan, tenun ikat Bandar Kidul Kediri akan punah di masa mendatang.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h3 style="color: black">MASUKNYA TENUN IKAT BANDAR KIDUL</h3>
                        <p style="color: dimgrey">Cerita dibalik pengalaman aktivitas manusia dalam menggali ide dan gagasan tercermin pada proses pembuatan dan pewarnaan benang. Di samping itu terdapat motif flora, fauna, manusia dan benda-benda alam bermakna mitos dan kepercayaan terhadap leluhur serta fungsinya di tengah masyarakat Bandar Kidul. Menurut cendekiawan yang berkembang di masyarakat Kediri, tenun ikat diawali oleh saudagar Arab dan Cina. Perkembangan kegiatan itu dilanjutkan turun temurun oleh para pekerjanya yang akhirnya menjadikan tenun ikat sebagai wujud benda kebudayaan hasil karya manusia. Dibalik wujud fisik dari kain tenun itu tersirat hal-hal yang bersifat non fisik yang juga mempengaruhi proses munculnya kain tenun ikat Bandar Kidul, antara lain latar belakang historis, proses, alat, ragam hias dan produk jadi. Adat dan tradisi inilah yang mendorong dan menjadikan tenun ikat semakin berkembang hingga menjadi kerajinan sebagai sebuah cinderamata khas Kediri.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/2.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg 12">
                        <p style="color: dimgrey">Pada masa diawal terciptanya, tenun ikat digunakan di dalam kekerabatan masyarakat desa Bandar Kidul, memiliki fungsi pelengkap kebutuhan sandang namun seiring dengan perkembangan zaman produk kerajinan berfungsi tidak hanya terbatas dalam kehidupan masyarakat Bandar Kidul melainkan semakin berkembang menjadi produk yang memiliki keunggulan dan kualitas serta manfaat di tengah masyarakat modern sekarang ini. Karena karya tenun khas Kediri merupakan sebuah kebudayaan dan seni kerajinan yang harus dihargai dan dilestarikan, oleh karena itu saat ini pemerintah memberikan kebijakan pada pegawai kantoran untuk wajib menggunakan baju yang terbuat dari kain tenun ini, dengan tujuan agar masyarakat dapat termotivasi untuk memanfaatkan kerajinan budaya asli Indonesia menjadi sebuah barang berkualitas sehingga dapat meningkatkan Industri Kreatif dan memperkuat jati diri bangsa.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/3.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg 6 align-self-center">
                        <h3 style="color: black">SEJARAH TENUN IKAT BANDAR KIDUL</h3>
                        <p style="color: dimgrey">Kerajinan tenun ikat di Bandar Kidul sempat mengalami kejayaan pada tahun 1970-an sampai 1980-an. Akibat adanya kain tenun buatan pabrik yang lebih murah dan lebih banyak motif mengakibatkan kerajinan ini mengalami kemunduran pada tahun 1980-an dan akhirnya pada masa-masa keterpurukan tersebut masih ada beberapa pengrajin yang bertahan dan memulai dari awal. Salah satu pengrajin yang mengawali pada tahun 1989 adalah kerajinan tenun ikat Medali Mas milik Bapak Munawar. Menurut para pengerajin, tenun ikat di Bandar Kidul bersifat turun temurun dan sekarang telah mencapai 3 turunan. Dahulu produk tenun ikat di Bandar Kidul masih berupa tenun Palikat atau Kotak. Seiring dengan perkembangan zaman tenun Palikat sudah banyak dibuat dengan mesin maka para pengrajin tenun Bandar mencari model lain yakni tenun Ikat / tenun Kembang Ceplok sebagai motif khas Kediri.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg 6">
                        <h3 style="color: black">"BAHAN WARNA"<br> TENUN IKAT BANDAR KIDUL</h3>
                        <p style="color: dimgrey">Untuk menjaga unsur tradisional dalam pembuatan kain tenun, tidak hanya proses pembuatannya saja yang tradisional namun pewarna yang digunakan sebagai pewarna kain menggunakan bahan-bahan alam. Sebelum proses perebusan dengan benang. Bahan alam yang digunakan untuk pewarnaan ditumbuk dengan proses manual. setelah ditumbuk hingga mengeluarkan air, air yang dihasilkan dari tanaman tersebut dipisahkan dan tanamannya. Setelah itu benang putih yang akan digunakan harus melewati proses ini terlebih dahulu. Pertama-tama sari dari tanaman yang telah ditumbuk tadi diletakan di panci dan dicampur dengan sedikit air yang telah direbus terlebih dahulu. Setelah direbus hasilnya diletakan di sebuah ember besar dan dicampurkan dengan benang putih yang akan digunakan. Pencelupan dilakukan 2 - 3 kali proses agar warna meresap dengan baik.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/4.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg 12 text-center">
                        <h3 style="color: black">PROSES PEMBUATAN TENUN IKAT</h3>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/5.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg 6 align-self-center">
                        <h4 style="color: black">PROSES LUSI/KETENG</h4>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg 6 align-self-center">
                        <h4 style="color: black">PROSES PENCELUPAN</h4>
                        <p style="color: dimgrey">Proses pencelupan adalah tahap awal dalam pembuatan kain tenun ikat, benang yang dicelup dengan pewarna diberi warna sesuai permintaan masing-masing pelanggan. Tahap awalnya pertama didalam sebuah ember dan membutuhkan air bersih agar warna tidak berubah. Proses selanjutnya memasukan pewarna sesuai selera setelah pewarna tercampur dengan air barulah benang putih dimasukan, proses pencelupan membutuhkan 2-3 kali pengulangan agar warna meresap dengan baik. Setelah 2-3 kali proses pencelupan benang yang sudah diberi warna tersebut di jemur terlebih dahulu sebelum proses selanjutnya.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/6.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/7.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg 6 align-self-center">
                        <h4 style="color: black">PROSES PEMINTALAN BENANG PADA KELOS</h4>
                        <p style="color: dimgrey">Melalui proses melilitkan benang pada Goben ini, benang dapat dengan mudah di rancang dan tidak kusut. Proses ini juga melibatkan lelaki maupun perempuan baik yang sudah ahli atau tidak, karena pekerjaan ini dirasa mudah. Jadi semuanya bisa membantu.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg 6 align-self-center">
                        <h4 style="color: black">PROSES SKEER MENATA BENANG KE BUM</h4>
                        <p style="color: dimgrey">Proses menata benang hasil pemintalan ke bum ini merupakan lanjutan dari proses pemintalan benang, benang yang sudah di pintal pada kelos di tata rapi pada bidangan untuk di pindahkan ke bum. Benang yang di tata di bum yang akan menjadi warna dasar kain tenun ikat. Proses mengganti benang dari bidangan dilakukan secara manual dan proses penataan benang ke bum juga dilakukan bertahap agar tetap terlihat lebih rapi.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/8.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/9.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg 6 align-self-center">
                        <h4 style="color: black">PROSES PAKAN/UMPAN</h4>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg 6 align-self-center">
                        <h4 style="color: black">PROSES GOBEN PEMINTALANAN BENANG</h4>
                        <p style="color: dimgrey">Dalam proses kedua dari pembuatan sebuah kain tenun ikat ini. Pertama-tama selalu diawali dengan memintal benang. Karena benang merupakan bahan utama dalam pembuatan sebuah kain. Berbeda dengan pemintalan pada proses 1. pemintalan pada proses 2 ini menggunakan benang dengan warna asli yaitu putih. Karena akan diolah dibidangan yang nantinya akan menjadi dasar yang akan diberikan motif hias pada kain tenunnya. Pada proses pemintalan benang ini benang dapat dengan mudah dirancang agar tidak kusut.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/10.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/11.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg 6 align-self-center">
                        <h4 style="color: black">PROSES REEK MEMBUAT BIDANGAN</h4>
                        <p style="color: dimgrey">Setelah proses pemintalan benang putih tadi selanjutnya dilakukan proses Rek. Rek adalah proses membuat sebuah bidangan sebagai dasar penggambaran motif yang ditata rapi diantara papan. Benang-benang putih yang telah ditata atau dipintal, dipindah ke bidangan yang telah tersedia. lalu dihubungkan sebagaimana yang ada digambar samping. Dan pada saat diputar akan menggumpal menjadi satu serta ditata dipapan yang telah disediakan tadi. Selalu melalukan proses pengikatan setelah setiap kali diputar agar benang tidak putus dan tetap rapi.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg 6 align-self-center">
                        <h4 style="color: black">PROSES PEMBERIAN MOTIF</h4>
                        <p style="color: dimgrey">Dengan cita rasa seni dan kekuatan imajinasi penenun mengkonsep motif hias yang akan dituangkan pada kain tenunnya. Misalnya pada tepi kain sampai bidang kain dihias dengan kotak-kotak segi enam dan di tengahnya terdapat motif hias binatang. Motif ini digambar terlebih dahulu dibidangan yang pada proses sebelumnya. Proses pemberian motif ini dilakukan sendiri oleh pemilik sentra tenun ikat.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/12.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/13.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg 6 align-self-center">
                        <h4 style="color: black">PROSES PENGIKATAN</h4>
                        <p style="color: dimgrey">Pada pola yang telah diberi motif tadi, dilakukan proses pengikatan yaitu dimana pola yang ingin berbeda warna diikat menggunakan tali rafia. dengan tujuan agar pada saat melakukan proses selanjutnya yaitu memberikan warna kombinasi, motif yang sudah di ikat ini tidak akan tercampur warnanya. Dan pengikatan harus dilakukan dengan mengikat kencang-kencang.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg 6 align-self-center">
                        <h4 style="color: black">PROSES PENCELUPAN BENANG KE PEWARNA</h4>
                        <p style="color: dimgrey">Proses pencelupan dilakukan untuk memberikan warna dasar sebelum diberikan warna kombinasi pada benang. Jadi pengikatan pada proses sebelumnya harus benar-benar kuat agar warna lain tidak bisa masuk. Proses pewarnaan ini memerlukan air yang benar-benar bersih agar warna yang diinginkan tidak berubah atau tercampur dengan warna lainnya. Dan dilakukan berulang-ulang agar warnanya meresap dengan benar. Perlu dilakukan 2-3 kali pengulangan pencelupan agar warna meresap. Para pekerja diharuskan menggunakan sepatu boots dan masker sebagai pelindung. Karena proses pencelupan ini memakai air panas.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/14.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/15.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">PROSES COLET PEMBERIAN WARNA KOMBINASI</h4>
                        <p style="color: dimgrey">Pada proses colet, motif yang telah diberi tali rafia atau yang telah dilakukan pengikatan akan diberi warna sesuai dengan keinginan. Tali rafia dilepas terlebih dahulu pada motif yang akan diberi warna lain tetapi yang ingin dibiarkan putih tali tidak perlu dilepas. Cara memberi warna lain yaitu pada motif yang telah dilepas pengikatannya tadi dicelupkan ke pewarna sedikit demi sedikit dan agar tidak berantakan di campur sedikit sedikit dengan cara diteteskan berulang-ulang agar warna meresap dan jika ingin memberi warna yang berbeda lagi dilakukan proses yang sama. Proses ini dilakukan dengan hati-hati agar tidak ada kesalahan waktu memberi warna motif.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">PROSES PELEPASAN TALI PADA BENANG KOMBINASI</h4>
                        <p style="color: dimgrey">Setelah melalui proses pencelupan dan melalui pengeringan di bawah sinar matahari. Benang-benang tadi yang masih diikat oleh tali rafia dilepaskan satu persatu menggunakan cutter. Harus dilakukan dengan sangat hati-hati karena bisa menyebabkan benang putus. Tali yang diikat tali rafia, setelah melalui proses pelepasan hasilnya nanti akan tetap putih karena tidak diberi warna.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/16.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/17.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">PROSES MENGURAI BENANG UNTUK DIJADIKAN UMPAN / PAKAN</h4>
                        <p style="color: dimgrey">Proses mengurai benang ini cukup memerlukan waktu yang panjang, karena benang yang tadinya melalui proses panjang mulai dari pemberian motif pencelupan, pelepasan tali dan lainnya. Benang tersebut sehelai demi sehelai disangkutkan ke tempat masing-masing dan baru diputar. Jika ada yang putus maka setiap kali putaran harus mengikat satu-persatu. Jadi harus dilakukan dengan sangat teliti dan berhati-hati. Maka dari itu untuk proses yang sulit ini dibutuhkan keahlian.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">PROSES PEMINTALAN PADA PALET</h4>
                        <p style="color: dimgrey">Proses pemintalan benang pada palet ini pada umumnya sama dengan proses pemintalan benang pada proses sebelumnya. Dengan tujuan agar benang tetap tertata rapi dan tidak kusut pada saat digunakan untuk menenun. Proses ini biasanya dapat di kerjakan di rumah, karena banyak warga yang bekerja di tempat tenun. alat yang di gunakan juga merupakan dari velg sepeda olah yang di modifikasi menjadi alat pemintalan.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/18.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/19.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">PROSES TENUN IKAT BANDAR KIDUL</h4>
                        <p style="color: dimgrey">Setelah melalui proses 1 dan proses 2 dalam pembuatan bahan-bahan utama yang digunakan. Maka proses tenun pun siap di mulai. Di butuhkan para ahli untuk proses pembuatan Tenun Ikat ini karena proses tenun menggunakan alat yang sederhana, terbuat dari kayu dan alat-alat otomotif yang di modifikasi sehingga dapat menjadi alat membuat tenun. Para pekerja yang membuat tenun ikat ini rata-rata sudah puluhan tahun memproses kain tenun ini.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg 12 text-center">
                        <h3 style="color: black">MOTIF KAIN</h3>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">MOTIF CEPLOK KHAS KEDIRI</h4>
                        <p style="color: dimgrey">Memanfaatkan berbagai hal dalam menghias benda-benda alami agar menjadi indah saat dipandang dapat dikatakan bukan suatu hal yang baru dalam kehidupan masyarakat desa Bandar Kidul Kediri melainkan sudah dikenal jauh sebelumnya. Hiasan Ragam hias dengan motif hias bunga, terinspirasi dari ukiran yang berada di patung Siwa. Dewa Siwa merupakan salah satu dari tiga dewa utama (Trimurti) dalam agama Hindu yang berarti dewa Siwa dipercaya sebagai dewa pelebur, yang bertugas melebur segala sesuatu yang usang dan tidak layak berada di dunia fana. Sehingga harus dikembalikan ke asal. Masyarakat percaya bahwa selama ini Kediri dilindungi oleh Dewa Siwa oleh sebab itu motif yang terdapat pada patung Dewa Siwa dijadikan motif khas tenun Bandar Kidul Kediri.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/20.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/22.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">MOTIF TIRTA</h4>
                        <p style="color: dimgrey">Ragam hias terus dikembangkan motif-motifnya agar menarik para wisatawan. Tentu saja ragam hias yang dikembangkan juga memiliki makna dan diharapkan dapat berarti bagi penggunanya. Motif ini adalah motif ragam hias tirta berupa motif hias zigzag, merupakan campuran perkembangan dari motif ragam hias ceplok dan ragam hias separo. Memiliki makna yang berartikan motif ragam hias separo memiliki makna sebagai pembawa kesuburan dalam kehidupan di dunia dan motif ceplok merupakan kepercayaan masyarakat pada Dewa Siwa sebagai dewa pelebur segala sesuatu yang jahat di dunia.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">MOTIF MIRING</h4>
                        <p style="color: dimgrey">Ragam hias Tirta berupa motif hias miring, motif yang diambil dari unsur keagamaan. Motif ini dipakai dalam motif nusantara bersamaan dengan masuknya agama Hindu yang membawa motif tersebut. dikenal dengan motif Kala Makara yang biasanya digunakan untuk menghias patung-patung candi agama Hindu.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/23.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/24.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">MOTIF WALANGAN</h4>
                        <p style="color: dimgrey">Ragam hias Tirta berupa motif hias walangan, diambil dari unsur binatang yaitu binatang walang. Merupakan motif yang diambil dari unsur alam. Yaitu binatang walang yang tumbuh secara bebas, Diharapkan masyarakat Kediri hidup bebas tanpa adanya segala bentuk penindasan.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">MOTIF CEPLOK PUTIHAN</h4>
                        <p style="color: dimgrey">Ragam hias Tirta berupa motif hias Ceplok Putihan, menyerupai bunga teratai. Muncul pada masa perunggu. Asimilasi dari motif Hindu. Motif teratai ada tiga macam yaitu Padma (teratai merah yang mekar). Uthpala (teratai biru yang setengah mekar) dan Kumada (teratai putih dengan bunga kuncup).</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/25.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/26.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">MOTIF SEPARO</h4>
                        <p style="color: dimgrey">Ragam hias Tirta berupa motif hias Separo, motif ini berasal dari Burung Garuda Mukha yang merupakan kendaraan Dewa Wisnu dan sebagai lambang kerajaan Kadiri. Kepakan sayap merupakan point of view nya dengan variasi motif yang diambil dari tumbuhan aren yang hadir pada masa kerajaan Hindu.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">MOTIF SALUR RAGAM HIAS 1</h4>
                        <p style="color: dimgrey">Diambil dari motif tubuh manusia. Motifnya tampak pada ukiran rumah, gagang pedang. tombak. tameng dan perlengkapan berburu lainnya. Yang merupakan peralatan untuk melindungi diri dan membela diri dari hal-hal yang tidak diinginkan serta untuk bertahan hidup di dunia.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/28.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/29.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">MOTIF SALUR RAGAM HIAS 2</h4>
                        <p style="color: dimgrey">Motif ini tumbuh subur di daerah seluruh Indonesia. Menggambarkan tanaman rebung/tunas bambu yang memiliki kemampuan tumbuh sangat cepat sehingga kemudian dianggap sebagai lambang kesuburan dan kemakmuran.</p>
                    </div>
                </div><br>
            </div>
        </div>
    </div>
</div>

<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2>Apakah Anda ingin mengunjunginya ?</h2>
        <h4 style="color: black">Buat penampilan mu menarik dengan mengajukan penawaran</h4>
      </div>
      <div class="col-lg-4">
        <div class="border-button">
          <a href="/shop">Belanja Sekarang</a>
        </div>
      </div>
    </div>
  </div>
</div>