<div class="amazing-deals">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading text-center">
                    <h2>HISTORY</h2>
                </div>
            </div>        
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/1.png" width="100%" height="250px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h2>CRAFT CENTER TENUN IKAT BANDAR KIDUL KEDIRI</h2>
                        <p style="color: dimgrey">The Tenun Ikat craft in the village of Bandar Kidul Kediri is a traditional craft that still uses manual tools. Nowadays, many Tenun Ikat productions use factory machines. The production site for this Tenun Ikat is located in KH. Agus Salim Street, Bandar Kidul Village, Mojoroto District, Kediri. This village is a centre for Tenun Ikat production that still adheres to the manual concept.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p style="color: dimgrey">The existence of Tenun Ikat Bandar Kidul Kediri has yet to be discovered to the public. After speaking with a Tenun Ikat maker named Siti, she mentioned that the original meaning or philosophy behind Tenun Ikat Bandar Kidul Kediri has also been lost. Mrs Siti, who makes them, said that she only makes and accepts orders without knowing their meaning or philosophy. The current philosophy is merely an approximation from several sources. Due to the lack of recognition even among the residents of Kediri, the number of people engaged in this business could be bigger. Mrs. Siti, a Tenun Ikat artisan from Bandar Kidul Kediri, mentioned that it is now very difficult to find employees willing to make Tenun Ikat, let alone in the future. It is feared that Tenun Ikat Bandar Kidul Kediri will become extinct in the future.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h3 style="color: black">THE INTRODUCTION OF TENUN IKAT BANDAR KIDUL</h3>
                        <p style="color: dimgrey">The story behind the experiences of human activities in exploring ideas and concepts is reflected in the process of making and dyeing the threads. Additionally, there are motifs of flora, fauna, humans, and objects of nature that hold meanings of myths and beliefs towards ancestors and their functions in the Bandar Kidul community. According to scholars in the Kediri community, Tenun Ikat was initiated by Arab and Chinese merchants. The development of this activity was continued and passed down through generations by its workers, eventually making Tenun Ikat a cultural artefact of human craftsmanship. Behind the woven fabric's physical appearance, non-physical aspects influence the creation process of Tenun Ikat Bandar Kidul, including historical background, methods, tools, decorative motifs, and finished products. These customs and traditions have driven and promoted the development of Tenun Ikat, turning it into a craft and a unique souvenir from Kediri.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/2.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p style="color: dimgrey">In its early days, Tenun Ikat was used within the kinship system of the Bandar Kidul village community, serving as a complement to clothing needs. However, as time progressed, craft products evolved to function not only within the Bandar Kidul community but have also become products of superior quality and usefulness in modern society. Because the distinctive Tenun Ikat of Kediri is a cultural and artistic craft that must be appreciated and preserved, the government has now implemented a policy requiring office employees to wear clothes made from this woven fabric. This aims to motivate the community to utilize Indonesia's original cultural crafts as quality products, enhancing the Creative Industry and strengthening the nation's identity.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/3.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h3 style="color: black">THE HISTORY OF TENUN IKAT BANDAR KIDUL</h3>
                        <p style="color: dimgrey">The Tenun Ikat craft in Bandar Kidul experienced its peak from the 1970s to the 1980s. However, the advent of factory-made fabrics, which were cheaper and offered more patterns, led to a decline in the craft during the 1980s. Despite this downturn, a few craftsmen persevered and started anew. One of the craftsmen who started in 1989 was Mr. Munawar, with his Tenun Ikat Medali Mas business. According to the craftsmen, Tenun Ikat in Bandar Kidul is a hereditary craft that has now spanned three generations. Initially, the Tenun Ikat products in Bandar Kidul were mainly Palikat or checkered patterns. As time progressed and Palikat patterns became commonly machine-made, the Tenun Ikat craftsmen sought other designs, adopting Tenun Ikat / Tenun Kembang Ceplok as the distinctive motifs of Kediri.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6">
                        <h3 style="color: black">"DYE MATERIALS" TENUN IKAT BANDAR KIDUL</h3>
                        <p style="color: dimgrey">To maintain the traditional element in making woven fabric, the production process is conventional, and the dyes used are also derived from natural materials. Before the boiling process with the threads, the natural materials used for dyeing are manually crushed after being crushed to extract the liquid, and the resulting liquid is separated from the plant material. The white threads to be used must first go through this process. Initially, the essence of the crushed plants is placed in a pot and mixed with a little pre-boiled water. After boiling, the mixture is placed in a large bucket and combined with the white threads to be used. The threads are dipped 2-3 times to absorb the colour well.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/4.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 style="color: black">THE PROCESS OF MAKING TENUN IKAT</h3>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/5.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">WARPING PROCESS</h4>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">DYEING PROCESS</h4>
                        <p style="color: dimgrey">The dyeing process is the initial stage in making Tenun Ikat fabric. The threads are dyed according to the customer's colour preferences. The first step is to place the threads in a bucket with clean water to ensure the colour does not change. Next, the dye is mixed with water before the white threads are immersed. The dyeing process requires 2-3 repetitions to ensure the colour is well absorbed. After 2-3 dyeing cycles, the dyed threads are dried before the next process.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/6.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/7.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">SKEER PROCESS SPINNING PROCESS ON KELOS</h4>
                        <p style="color: dimgrey">Winding the Goben threads allows them to be easily arranged and untangled. This process involves both men and women, regardless of their expertise, as the task is simple. Hence, everyone can assist.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">ARRANGING THREADS ON THE BUM</h4>
                        <p style="color: dimgrey">Arranging the spun threads on the bum continues the spinning process. The threads spun on the kelos are neatly arranged on the framework to be transferred to the bum. The threads on the bum will form the base colour of the Tenun Ikat fabric. Changing the threads from the framework is done manually, and the arrangement on the bum is done in stages to ensure neatness.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/8.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/9.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">WEFT/FEED PROCESS</h4>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">GOBEN PROCESS THREAD SPINNING</h4>
                        <p style="color: dimgrey">In the second stage of making Tenun Ikat, spinning the threads is always the initial step since threads are the primary material for the fabric. Unlike the first spinning process, this second spinning process uses threads in their natural white colour. These will be processed on the framework to form the base for the decorative motifs on the fabric. The spinning process ensures the threads are easily arranged and untangled.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/10.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/11.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">REEK PROCESS MAKING THE FRAMEWORK</h4>
                        <p style="color: dimgrey">After spinning the white threads, the Reek process follows. Reek involves creating a framework for neatly arranging motifs between boards. The spun white threads are transferred to the prepared framework and connected, as shown in the diagram. The threads are wound together and arranged on the board, with ties made after each rotation to prevent them from breaking and keep them neat.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">MOTIF CREATION PROCESS</h4>
                        <p style="color: dimgrey">The weaver conceptualizes the decorative motifs for the fabric with artistic taste and imagination. For instance, the edges of the fabric may feature hexagonal patterns with animal motifs in the centre. These motifs are first drawn on the framework from the previous process. The Tenun Ikat workshop owner creates the motif.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/12.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                        <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/13.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">TYING PROCESS</h4>
                        <p style="color: dimgrey">The tying process is carried out using the pattern of the given motifs. Patterns that require different colours are tied with raffia strings to prevent the colours from mixing during the next dyeing process. The ties must be made tightly.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">THREAD DYEING PROCESS</h4>
                        <p style="color: dimgrey">The dyeing process gives the base colour before adding a combination of colours. The ties must be very tight to prevent other colours from seeping in. This dyeing process requires clean water to ensure the desired colour does not change or mix with others. It is repeated several times to ensure the colour is absorbed properly. Workers must wear boots and masks for protection, as the dyeing process involves hot water.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/14.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/15.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">COLET PROCESS ADDING COMBINATION COLORS</h4>
                        <p style="color: dimgrey">In the colet process, motifs tied with raffia strings are dyed with the desired colours. The raffia strings are removed from the motifs to be coloured but chosen to remain white and are left tied. Colours are added to the motifs by dipping them in dye gradually and dripping dye onto them repeatedly to ensure the colour is absorbed. If more colours are needed, the same process is repeated. This process requires careful handling to avoid mistakes.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">RELEASING THE THREADS ON THE COMBINED COLORS</h4>
                        <p style="color: dimgrey">After dyeing and drying under the sun, the raffia strings are carefully removed from the threads using a cutter. This must be done carefully to avoid breaking the threads. The areas tied with raffia will remain white since they were not dyed.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/16.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/17.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">UNRAVELING THREADS TO BE USED AS FEED</h4>
                        <p style="color: dimgrey">Unravelling the threads is lengthy, as the threads go through many stages, including motif creation, dyeing, and tying. The threads are placed one by one in their respective places before being wound. If a thread breaks, each turn requires individual tying. This process demands skill and meticulousness.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">SPINNING PROCESS ON PALET</h4>
                        <p style="color: dimgrey">Spinning threads on the pallet are similar to previous spinning processes, ensuring the threads remain neat and untangled when used for weaving. This task can be done at home, as many residents work at the weaving place. The spinning tool is often made from modified bicycle wheels.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/18.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/19.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">TENUN IKAT BANDAR KIDUL WEAVING PROCESS</h4>
                        <p style="color: dimgrey">The weaving process begins after completing the first and second stages of preparing the main materials. Skilled workers are needed for this, as the weaving tools are simple, made from wood and modified automotive parts. Most weavers have decades of experience processing this fabric.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 style="color: black">FABRIC MOTIFS</h3>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">CEPLOK MOTIF</h4>
                        <p style="color: dimgrey">Utilizing various elements to decorate natural objects to make them visually pleasing is not new in the life of the Bandar Kidul Kediri village community; it has been known long before. Decorative motifs with floral designs are inspired by the carvings on the statue of Shiva. Lord Shiva is one of the three main gods (Trimurti) in Hinduism, known as the destroyer deity, who is believed to dissolve everything that is old and unworthy of the mortal world, returning it to its origin. The community believes that Kediri has been protected by Lord Shiva; hence, the motifs on the Shiva statue have become the distinctive motifs of Tenun Bandar Kidul Kediri.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/20.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/22.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">TIRTA MOTIF</h4>
                        <p style="color: dimgrey">Decorative motifs continue to be developed to attract tourists. These motifs also hold meanings and are expected to be significant for their users. The Tirta motif features a zigzag decorative pattern, a combination of the ceplok and half motifs. The half motif represents fertility in life, while the ceplok motif symbolizes the community's belief in Lord Shiva as the destroyer of all evil in the world.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">MIRING MOTIF</h4>
                        <p style="color: dimgrey">The Tirta decorative pattern features the miring motif, derived from religious elements. This motif was introduced to the Nusantara motifs along with the arrival of Hinduism and is known as the Kala Makara motif, typically used to decorate Hindu temple statues.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/23.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/24.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">WALANGAN MOTIF</h4>
                        <p style="color: dimgrey">The Tirta decorative pattern includes the walangan motif, derived from the natural element of the grasshopper (walang). It represents nature, specifically the freely growing grasshopper, symbolizing the hope for Kediri's community to live freely without oppression.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">CEPLOK PUTIHAN MOTIF</h4>
                        <p style="color: dimgrey">The Tirta decorative pattern features the Ceplok Putihan motif, resembling the lotus flower. This motif emerged during the Bronze Age and assimilates Hindu motifs. There are three types of lotus motifs: Padma (fully blooming red lotus), Uthpala (half-blooming blue lotus), and Kumada (white lotus with a bud).</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/25.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/26.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">SEPARO MOTIF</h4>
                        <p style="color: dimgrey">The Tirta decorative pattern includes the Separo motif, originating from the Garuda Mukha bird, the vehicle of Lord Vishnu and the symbol of the Kadiri Kingdom. The wings' spread is the focal point, with variations of motifs derived from the palm tree, present during the Hindu kingdom era.</p>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">SALUR DECORATIVE MOTIF 1</h4>
                        <p style="color: dimgrey">This motif is derived from the human body. It appears in house carvings, sword handles, spears, shields, and other hunting equipment, which are tools for self-protection and survival.</p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/28.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="left-image">
                            <img src="assets/images/history/29.png" width="100%" height="425px" frameborder="0" style="border:0; border-top-left-radius: 23px; border-top-right-radius: 23px; border-bottom-left-radius: 23px; border-bottom-right-radius: 23px;" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <h4 style="color: black">SALUR DECORATIVE MOTIF 2</h4>
                        <p style="color: dimgrey">This motif is prevalent throughout Indonesia. It depicts the bamboo shoot, which grows rapidly, symbolizing fertility and prosperity.</p>
                    </div>
                </div><br>
            </div>
        </div>
    </div>
</div>


<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2>Apakah Anda ingin mengunjunginya ?</h2>
        <h4 style="color: black">Buat penampilan mu menarik dengan mengajukan penawaran</h4>
      </div>
      <div class="col-lg-4">
        <div class="border-button">
          <a href="/shop">Belanja Sekarang</a>
        </div>
      </div>
    </div>
  </div>
</div>