<div class="amazing-deals">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading text-center">
          <h2>{{title}}</h2>
          <p>Deskripsi Toko mu disini</p>
        </div>
      </div>

      <!-- Item 1 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/Item1.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                <h4>Sarung Goyor Palu Gada -Motif Tenun Ikat - 01</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 225.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Produk ini adalah sarung goyor tenun yang terbuat dari kain tenun ikat yang dikenal dengan teknik manual menggunakan Alat Tenun Bukan Mesin (ATBM).</p>
                <div class="main-button">
                  <a href="https://www.tokopedia.com/tenunikatpalugada/sarung-goyor-palu-gada-motif-tenun-ikat-01-adc91?extParam=whid%3D17413703%26src%3Dshop">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 2 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/item2.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                <h4>Dompet/Hand Bag Motif Tenun - 01</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 165.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Produk ini adalah Hand Bag yang unik dan berharga. Hand Bag ini memiliki ukuran yang pas untuk digunakan sebagai dompet maupun wadah yang mudah dibawa</p>
                <div class="main-button">
                  <a href="https://www.tokopedia.com/tenunikatpalugada/dompet-hand-bag-motif-tenun-01-ad33c?extParam=src%3Dshop%26whid%3D17413703">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 3 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/item3.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                
                <h4>Sling Bag - Motif Tenun Ikat - 01</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 180.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Sling bag ini memiliki ukuran yang pas untuk digunakan sebagai tas slempang, pouch, atau handbag, serta dilengkapi dengan tali yang dapat disesuaikan dengan kebutuhan Anda.</p>
                <div class="main-button">
                  <a href="https://www.tokopedia.com/tenunikatpalugada/sling-bag-motif-tenun-ikat-01-490aa?extParam=whid%3D17413703%26src%3Dshop">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 4 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/item4.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                <h4>Kain Tenun Ikat Palu Gada - Motif Elung Blok - Merah</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 250.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Produk ini adalah Tenun Ikat khas Bandar Kidul Kediri, sebuah kerajinan tangan tradisional yang telah dinobatkan sebagai Warisan Budaya Tak Benda (WBTB) asal Jawa Timur pada tahun 2022.</p>
                <div class="main-button">
                  <a href="https://www.tokopedia.com/tenunikatpalugada/kain-tenun-ikat-palu-gada-motif-elung-blok-merah-ded9a?extParam=src%3Dshop%26whid%3D17413703">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 5 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/item5.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                
                <h4>Kain Tenun Ikat Palu Gada - Motif Wajikan (03) - Cokelat</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 250.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Produk ini adalah Tenun Ikat khas Bandar Kidul Kediri, sebuah kerajinan tangan tradisional yang telah dinobatkan sebagai Warisan Budaya Tak Benda (WBTB) asal Jawa Timur pada tahun 2022.</p>
                <div class="main-button">
                  <a href="https://www.tokopedia.com/tenunikatpalugada/kain-tenun-ikat-palu-gada-motif-wajikan-03-cokelat-b8e34?extParam=src%3Dshop%26whid%3D17413703">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 6 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/item6.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                
                <h4>Kain Tenun Ikat Palu Gada - Motif Gerimis Blok Wajikan - Merah</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 250.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Produk ini adalah Tenun Ikat khas Bandar Kidul Kediri, sebuah kerajinan tangan tradisional yang telah dinobatkan sebagai Warisan Budaya Tak Benda (WBTB) asal Jawa Timur pada tahun 2022</p>
                <div class="main-button">
                  <a href="https://www.tokopedia.com/tenunikatpalugada/kain-tenun-ikat-palu-gada-motif-gerimis-blok-wajikan-merah-177e8?extParam=src%3Dshop%26whid%3D17413703">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 7 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/item7.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                
                <h4>Kain Tenun Ikat Palu Gada - Motif Gunungan - Cokelat</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 250.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Produk ini adalah Tenun Ikat khas Bandar Kidul Kediri, sebuah kerajinan tangan tradisional yang telah dinobatkan sebagai Warisan Budaya Tak Benda (WBTB) asal Jawa Timur pada tahun 2022.</p>
                <div class="main-button">
                  <a href="https://www.tokopedia.com/tenunikatpalugada/kain-tenun-ikat-palu-gada-motif-gunungan-cokelat-d3532?extParam=whid%3D17413703%26src%3Dshop">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 8 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/item8.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                
                <h4>Kain Tenun Ikat Palu Gada - Motif Blok Ombak & Gerimis - 01</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 250.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Produk ini adalah Tenun Ikat khas Bandar Kidul Kediri, sebuah kerajinan tangan tradisional yang telah dinobatkan sebagai Warisan Budaya Tak Benda (WBTB) asal Jawa Timur pada tahun 2022</p>
                <div class="main-button">
                  <a href="https://www.tokopedia.com/tenunikatpalugada/kain-tenun-ikat-palu-gada-motif-blok-ombak-gerimis-01-1cb4e?extParam=src%3Dshop%26whid%3D17413703">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 9 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/item9.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                
                <h4>Kain Tenun Ikat Palu Gada - Motif Kombinasi Gunung, Ceplok, Gerimis - Ungu</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 250.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Produk ini adalah Tenun Ikat khas Bandar Kidul Kediri, sebuah kerajinan tangan tradisional yang telah dinobatkan sebagai Warisan Budaya Tak Benda (WBTB) asal Jawa Timur pada tahun 2022</p>
                <div class="main-button">
                  <a href="https://www.tokopedia.com/tenunikatpalugada/kain-tenun-ikat-palu-gada-motif-kombinasi-gunung-ceplok-gerimis-ungu-20e17?extParam=src%3Dshop%26whid%3D17413703">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 10 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/item10.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                
                <h4>Kain Tenun Ikat Palu Gada - Motif Wajikan (02) - Hijau</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 250.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Produk ini adalah Tenun Ikat khas Bandar Kidul Kediri, sebuah kerajinan tangan tradisional yang telah dinobatkan sebagai Warisan Budaya Tak Benda (WBTB) asal Jawa Timur pada tahun 2022</p>
                <div class="main-button">
                  <a href="https://www.tokopedia.com/tenunikatpalugada/kain-tenun-ikat-palu-gada-motif-wajikan-02-hijau-fdbbd?extParam=whid%3D17413703%26src%3Dshop">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 11 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/item11.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                
                <h4>Kain Tenun Ikat Palu Gada - Warna Dasar Merah - Ceplok</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 250.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Produk ini adalah Tenun Ikat khas Bandar Kidul Kediri, sebuah kerajinan tangan tradisional yang telah dinobatkan sebagai Warisan Budaya Tak Benda (WBTB) asal Jawa Timur pada tahun 2022</p>
                <div class="main-button">
                  <a href="https://www.tokopedia.com/tenunikatpalugada/kain-tenun-ikat-palu-gada-warna-dasar-merah-ceplok-d7e44?extParam=src%3Dshop%26whid%3D17413703">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 12 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/item12.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                
                <h4>Kain Tenun Ikat Palu Gada - Warna Dasar Biru - Ombak Blok</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 250.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Produk ini adalah Tenun Ikat khas Bandar Kidul Kediri, sebuah kerajinan tangan tradisional yang telah dinobatkan sebagai Warisan Budaya Tak Benda (WBTB) asal Jawa Timur pada tahun 2022</p>
                <div class="main-button">
                  <a href="https://www.tokopedia.com/tenunikatpalugada/kain-tenun-ikat-palu-gada-warna-dasar-biru-ombak-blok-08c37?extParam=src%3Dshop%26whid%3D17413703">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 13 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/item13.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                
                <h4>Kain Tenun Ikat Palu Gada - Samber Lilen - Ceplok</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 250.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Produk ini adalah Tenun Ikat khas Bandar Kidul Kediri, sebuah kerajinan tangan tradisional yang telah dinobatkan sebagai Warisan Budaya Tak Benda (WBTB) asal Jawa Timur pada tahun 2022</p>
                <div class="main-button">
                  <a href="https://www.tokopedia.com/tenunikatpalugada/kain-tenun-ikat-palu-gada-samber-lilen-ceplok-74ef7?extParam=whid%3D17413703%26src%3Dshop">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 14 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/item14.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                
                <h4>Kain Tenun Ikat Palu Gada - Warna Dasar Ungu - Wajikan</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 250.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Produk ini adalah Tenun Ikat khas Bandar Kidul Kediri, sebuah kerajinan tangan tradisional yang telah dinobatkan sebagai Warisan Budaya Tak Benda (WBTB) asal Jawa Timur pada tahun 2022</p>
                <div class="main-button">
                  <a href="https://www.tokopedia.com/tenunikatpalugada/kain-tenun-ikat-palu-gada-warna-dasar-ungu-wajikan-d9c30?extParam=src%3Dshop%26whid%3D17413703">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Item 15 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/item15.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                
                <h4>Kain Tenun Ikat Palu Gada - Motif Ceplok Ungu - Elung Ceplok</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 250.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Produk ini adalah Tenun Ikat khas Bandar Kidul Kediri, sebuah kerajinan tangan tradisional yang telah dinobatkan sebagai Warisan Budaya Tak Benda (WBTB) asal Jawa Timur pada tahun 2022</p>
                <div class="main-button">
                  <a href="https://www.tokopedia.com/tenunikatpalugada/kain-tenun-ikat-palu-gada-motif-ceplok-ungu-elung-ceplok-65aa9?extParam=src%3Dshop%26whid%3D17413703">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 16 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/item16.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                
                <h4>Kain Tenun Ikat Palu Gada - Motif Blok Sub - Wajikan</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 250.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Produk ini adalah Tenun Ikat khas Bandar Kidul Kediri, sebuah kerajinan tangan tradisional yang telah dinobatkan sebagai Warisan Budaya Tak Benda (WBTB) asal Jawa Timur pada tahun 2022</p>
                <div class="main-button">
                  <a href="https://www.tokopedia.com/tenunikatpalugada/kain-tenun-ikat-palu-gada-motif-blok-sub-wajikan-0bda8?extParam=src%3Dshop%26whid%3D17413703">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Item 17 -->
      <div class="col-lg-6 col-sm-6">
        <div class="item">
          <div class="row">
            <div class="col-lg-6">
              <div class="image">
                <img src="assets/images/item17.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="content">
                
                <h4>Kain Tenun Ikat Palu Gada - Motif Gerimis Blok Wajikan - Merah</h4>
                <div class="row">
                  <div class="col-6">
                    <i class="bi bi-cash">Rp. 250.000</i>
                  </div>
                  <div class="col-6">
                  </div>
                </div>
                <p>Produk ini adalah Tenun Ikat khas Bandar Kidul Kediri, sebuah kerajinan tangan tradisional yang telah dinobatkan sebagai Warisan Budaya Tak Benda (WBTB) asal Jawa Timur pada tahun 2022</p>
                <div class="main-button">
                  <a href="/">Order Sekarang</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-12">
        <ul class="page-numbers">
          <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
          <li><a href="/shopid?page=1">1</a></li>
          <li><a href="/shopid?page=2">2</a></li>
          <li><a href="/shopid?page=3">3</a></li>
          <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
        </ul>
      </div>
      
    </div>
  </div>
</div> -->

<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2>Apakah Anda ingin mengunjunginya?</h2>
        <h4>Buat penampilanmu menarik dengan mengajukan penawaran</h4>
      </div>
      <div class="col-lg-4">
        <div class="border-button">
          <a href="/shop-en">Belanja Sekarang</a>
        </div>
      </div>
    </div>
  </div>
</div>
